  <!-- Início do header -->
  <header class="main-header">
    <nav class="navbar navbar-static-top" *ngIf="mostrarMenu">
      <div class="container">
        <div class="navbar-header">
          <a a [routerLink]="['/home']" class="navbar-brand"><b>Home</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/paciente']">Pacientes</a></li>
              <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/about']">Sobre</a></li>
              <li><a class="nav-link" routerLinkActive="active" [routerLink]="['/casdastro']">Cadastrar</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
  
      </div>
    </nav>
    </header>