<a [routerLink]="['/paciente', paciente.id]">
  <div class="place-info-box">
   <span class="place-info-box-icon"><img src="assets/img/reactions/soso.png" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{paciente.nome}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i> {{paciente.peso}}</span>
      <span class="place-info-box-detail">{{paciente.sexo}}</span>
      <span class="place-info-box-detail">{{paciente.dataNascimento}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>