<a href="#">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="paciente.caminoImagem" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{paciente.nome}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i> {{paciente.peso}}</span>
      <span class="place-info-box-detail">{{paciente.sexo}}</span>
      <span class="place-info-box-detail">{{paciente.dataNasciemnto}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>