<div class="container">
  <h1>Cadastro Paciente</h1>


  <form>
    <div class="row">
      <div class="col-md-6">
        <label>Nome</label>
        <input type="text" class="form-control" id="nome" required>
      </div>
      <div class="col-md-6">
        <label>Data Nascimento</label>
        <input type="text" class="form-control" id="dataNascimento" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Endereço</label>
        <input type="text" class="form-control" id="endereco" required>
      </div>
      <div class="col-md-6">
        <label>Telefoneo</label>
        <input type="text" class="form-control" id="telefone" />
      </div>
    </div>


    <div class="row" style="margin-top: 24px;">
      <div class="col-md-6">
        <label class="form-check-label" for="inlineRadio1">Plano de Saude: </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="form-check-label" for="inlineRadio2">Sim :</label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      </div>
    </div>

   <div class="row">
      <div class="col-md-6">
        <label class="form-check-label" for="inlineRadio2">Não:</label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      </div>
    </div>




    <div class="row">
      <div class="col-md-6">
        <label>Queixa</label>
        <textarea class="form-control" rows="5" id="queixa"></textarea>
      </div>
      <div class="col-md-6">
        <label>Diagnóstico</label>
        <textarea class="form-control" rows="5" id="diagnóstico"></textarea>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <label>Tipo de terapia</label>
        <textarea class="form-control" rows="5" id="tipoTerapia"></textarea>
      </div>
      <div class="col-md-6">
        <label>Data de entrada na clínica</label>
        <input type="text" class="form-control" id="dataEntrada" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Encaminhamentos</label>
        <textarea class="form-control" rows="5" id="encaminhamentos"></textarea>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Anexo de exames</span>
      </div>
      <div lass="row">
        <input type="file" class="custom-file-input" id="inputGroupFile01">

        <button type="submit" class="btn btn-success" style="margin-top: 24px; margin-bottom: 15px; text-align: right">Salvar</button>
      </div>
    </div>






  </form>
</div>