<div class="container">
  <h1>Cadastro de Paciente</h1>

  <form #form="ngForm" novalidate>
    <div class="row">
     <mt-input-container erroMensagem="Campo Obrigatório" label="Nome">
        <input type="text" name="nome" ngModel class="form-control" required autocomplete="off" />
     </mt-input-container>
      <div class="col-md-6">
        <label>Data Nascimento</label>
        <input type="text" 
        name="dataNascimento" ngModel class="form-control" id="dataNascimento" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Endereço</label>
        <input type="text" class="form-control" id="endereco">
      </div>
      <div class="col-md-6">
        <label>Telefone</label>
        <input type="text" class="form-control" id="telefone" />
      </div>
    </div>



    <div class="row" style="margin-top: 10px">
      <legend class="col-sm-2 pt-0">Plano de Saúde</legend>

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Sim</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">Não</label>
      </div>
    </div>




    <div class="row">
      <div class="col-md-6">
        <label>Queixa</label>
        <textarea class="form-control" rows="5" id="queixa"></textarea>
      </div>
      <div class="col-md-6">
        <label>Diagnóstico</label>
        <textarea class="form-control" rows="5" id="diagnóstico"></textarea>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <label>Tipo de terapia</label>
        <textarea class="form-control" rows="5" id="tipoTerapia"></textarea>
      </div>
      <div class="col-md-6">
        <label>Data de entrada na clínica</label>
        <input type="text" class="form-control" id="dataEntrada" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Encaminhamentos</label>
        <textarea class="form-control" rows="5" id="encaminhamentos"></textarea>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Anexo de exames</span>
      </div>
      <div lass="row">
        <input type="file" class="custom-file-input" id="inputGroupFile01">

        <button (click)="salvarPaciente(form.value)" type="submit" [disabled]="!form.valid" class="btn btn-success" style="margin-top: 24px; margin-bottom: 15px; text-align: right">Salvar</button>
      </div>
    </div>






  </form>
</div>