<div class="menu-item-info-box">
    <span class="menu-item-info-box-icon"><img src="assets/img/foods/croissant.png"></span>

    <div class="menu-item-info-box-content">
      <span class="menu-item-info-box-text">Exercico da fala</span>
      <span class="menu-item-info-box-detail">Fazer exercico fala</span>
      <span class="menu-item-info-box-price">10 min</span>
      <a (click)="emitAddEvent()" class=""><i class="fa fa-plus-circle"></i> vizualizar</a>
    </div>
    <!-- /.info-box-content -->
  </div>